::ng-deep app-send-movie-script {
    display: flex;
    justify-content: center;
}

.card {
    width: 90%;
    border: unset;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}