<div class="card">
    <h2 class="title">COOPERFILMES</h2>
    <div class="card-body">
        <h4 class="card-title">Consultar roteiro</h4>

        <form class="row" [formGroup]="consultForm" (submit)="submit()">
            <div class="form-group col-sm-8 col-12">
                <input type="email" formControlName="email" class="form-control" placeholder="Digite o email para consultar roteiro" required>
            </div>
            <div class="col-sm-4 col-12">
                <button type="submit" class="btn btn-primary btn-radio">CONSULTAR</button>
            </div>
        </form>

        <table class="mt-4 table table-sm table-light">
            <thead>
              <tr>
                <th class="col-9" scope="col">Roteiro</th>
                <th class="col-3" scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>XXX</td>
                <td>XXX</td>
              </tr>
              <tr>
                <td>XXX</td>
                <td>XXX</td>
              </tr>
            </tbody>
          </table>
        
    </div>
</div>